@model List<ResultFeatureDto>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/AdminLayout/Index.cshtml";
    int count = 0;
}

<div class="page-content">
    <div class="container-fluid">

        <div class="row">
            <div class="col-xl-12">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Araç Özellikleri Listesi</h4>
                        <p class="card-subtitle mb-4">
                            Araçlar ile ilgili Yeni Özellik Ekleme-Silme-Güncelleme İşlemleri Yapabilirsiniz..Temada Veri Tutarlılığını Saglayabilmek için Lütfen 3 ün katı şeklinde veri giriş yapınız...
                        </p>
                        <div class="table-responsive">
                            <table class="table mb-0">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Özellik İsmi</th>
                                        <th>Sil</th>
                                        <th>Güncelle</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <th scope="row">@(count + 1)</th>
                                            <td>@item.Name</td>
                                            <td><a href="/AdminFeature/RemoveFeature/@item.FeatureID" class="btn btn-outline-danger">Sil</a></td>
                                            <td><a href="/AdminFeature/UpdateFeature/@item.FeatureID" class="btn btn-outline-success">Güncelle</a></td>
                                        </tr>
                                        count++;
                                    }

                                </tbody>
                            </table>
                            <a href="/AdminFeature/CreateFeature/" class="btn btn-outline-primary">Özellik Oluştur...</a>
                        </div>

                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

